body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.contain{
    display: flex;
    flex-direction: column;
}
p{
    margin: 0;
    color: gray;
}
.has,p#Normal{
    color: black;
}
